* {
    padding: 0;
    margin: 0;
}

#map{
    height:600px;
    width: 75%;
    border-radius: 20%;
}

#formContainer {
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

#formContainer select {
    width: 100%;
}
